.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: black;
    padding: 16px 32px;
    border-bottom: 3px solid salmon;
}

.container a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 0px 16px;
    border-radius: 99px;
}


h1 {
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1:hover {
    color: salmon;
}

.menu {
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;

}


.menu a:hover{
    background-color: salmon;
}
